@model int

<div style="background-color: rgba(0, 0, 0, 0.5); padding: 10px; margin-top: 20px;">
    <h4 style="margin-bottom: 10px;">Total Finance Records:</h4>
    <div style="background-color: darkblue; color: #fff; padding: 5px 10px; border-radius: 5px; display: inline-block;">
        <p style="margin: 0;">@Model</p>
    </div>
</div>
